<header [class.hidden]="isHeaderHidden" class="header d-flex">
    <div class="logo-container pr-40">
      <img src="assets/img/logo-limago-reflexo.png" alt="Logo LimagoReflexo" class="logo-homepage">
    </div>
    <nav class="navbar pr-15">
      <a routerLink="/accueil" routerLinkActive="active">Accueil</a>
      <a routerLink="/qui-suis-je" routerLinkActive="active">Qui suis-je?</a>
      <a routerLink="/reflexologie" routerLinkActive="active">La réflexologie</a>
      <a routerLink="/prestations" routerLinkActive="active">Prestations</a>
    </nav>
</header>

