<header [class.hidden]="isHeaderHidden" [class.is-active]="navbarExpanded" class="header">
  <div class="menu-toggle" (click)="toggleMenu()" [ngClass]="{'active': navbarExpanded}">
    <div class="animated-icon1" [ngClass]="{'open': !navbarExpanded}">
      <div class="menu-line"></div>
      <div class="menu-line"></div>
      <div class="menu-line"></div>
    </div>
  </div>

  <div class="navbar-container d-flex">
    <div class="logo-container">
      <img
        src="assets/img/logo-limago-reflexo.webp"
        alt="Logo Limago Reflexo"
        width="300"
        height="100"
        class="logo-homepage"
        loading="eager"
      >
    </div>

    <nav class="navbar">
      <a routerLink="/accueil" routerLinkActive="active">
        <ng-container *ngIf="lang === 'fr'">Accueil</ng-container>
        <ng-container *ngIf="lang === 'en'">Home</ng-container>
      </a>

      <a routerLink="/qui-suis-je" routerLinkActive="active">
        <ng-container *ngIf="lang === 'fr'">Qui suis-je ?</ng-container>
        <ng-container *ngIf="lang === 'en'">Who am I?</ng-container>
      </a>

      <a routerLink="/reflexologie" routerLinkActive="active">
        <ng-container *ngIf="lang === 'fr'">La réflexologie</ng-container>
        <ng-container *ngIf="lang === 'en'">Reflexology</ng-container>
      </a>

      <a routerLink="/prestations" routerLinkActive="active">
        <ng-container *ngIf="lang === 'fr'">Prestations</ng-container>
        <ng-container *ngIf="lang === 'en'">Services</ng-container>
      </a>
    </nav>
  </div>
</header>
