<div class="container mt-15 mb-5" *ngIf="whoAmIData$ | async as whoAmIDataArray">
  <ng-container *ngFor="let whoAmIData of whoAmIDataArray">
    <div class="row">
      <div class="col-md-5 mt-md-14">
        <img [src]="whoAmIData.acf_fields.image" alt="Photo de Magali" class="img-fluid">
      </div>
      <div class="col-md-7 who-content pl-12">
        <h1 class="who-title display-4 mb-5">{{ whoAmIData.acf_fields.title }}</h1>
        <p [innerHTML]="whoAmIData.acf_fields.content" class="lead"></p>
      </div>
    </div>
    <div class="degrees-content col-md-5 mt-5">
      <h2 class="degrees-title pb-5">{{ whoAmIData.acf_fields.degreesTitle }}</h2>
      <p [innerHTML]="whoAmIData.acf_fields.degreesContent"></p>
    </div>
  </ng-container>
</div>
