@import "../../../styles/_variables.scss";

.reflexology-container {
    padding: 0 10rem;

    @media (max-width: 1024px) {
        padding: 0 5rem;
    }

    @media (max-width: 768px) {
        padding: 0 3rem;
        display: flex;
        flex-direction: column;

        .content-container {
            order: 1; 
        }

        .image-container {
            order: 2; 
            margin-top: 3rem;
        }

        .operation-content {
            order: 3; 
        }
    }

    @media (max-width: 426px) {
        padding: 0 1rem;
    }

    .operation-content {
        .custom-border {
            border: map-get($border-size, "1") solid map-get($theme-colors, "green");
            padding: 3rem;
        }
    }

    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .btn-reserve {
            display: flex;
            justify-content: center;
            align-items: center;
            border: map-get($border-size, "1") solid map-get($theme-colors, "green");
            background-color: white;
            color: map-get($theme-colors, "green");
            cursor: pointer;
            border-radius: 50%;
            text-align: center;
            font-weight: 500;
            font-size: 0.7rem;
            width: 130px;
            height: 130px;

            &:hover {
                background-color: map-get($theme-colors, "green");
                color: white;
            }
        }
    }
}
