@import "../../../styles/_variables.scss";

.container {
  color: white;

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .image-fade-in {
    animation: fadeIn 3.5s ease-out forwards;
  }

  .image-fade-in-2 {
    animation: fadeIn 7.5s ease-out forwards;
  }

  .reflexologist-info {
    font-weight: 200 !important;
    color: map-get($theme-colors, "white") !important;
  }

  .reflexologist-info .line {
    margin-bottom: 10px;
  }

  .reflexologist-info .line:last-child {
      margin-bottom: 0;
  }

  .slogan {
    color: map-get($theme-colors, "white") !important;
  }

  .img-background {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;

    @media (max-width: $breakpoint-md) {
      height: 290px;
    }

    @media (max-width: $breakpoint-xs) {
      height: 230px;
    }
  }

  .intro-section {
    position: absolute;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @media (max-width: $breakpoint-xxl) {
      top: 16%;
    }

    @media (max-width: $breakpoint-xl) {
      top: 17%;
    }

    @media (max-width: $breakpoint-lg) {
      top: 14%;
    }

    @media (max-width: $breakpoint-md) {
      bottom: 65% !important;
    }

    @media (max-width: $breakpoint-sm) {
      top: 13% !important;
    }

    .slogan {
    
      @media (max-width: $breakpoint-xl) {
        top: 15%;
      }
  
      @media (max-width: $breakpoint-lg) {
        padding: 55px !important;
      }
  
      @media (max-width: $breakpoint-md) {
        bottom: 60% !important;
        padding: 10px !important;
      }
    }
  }

  .btn-reserve {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700 !important;
    background-color: map-get($theme-colors, "green");
    color: white;
    border: 0.5px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
    font-size: 0.75rem;
    text-align: center;

    @media (min-width: 1909px) {
      top: 35%;
      width: 170px;
      height: 170px;
    }

    @media (max-width: 1908px) {
      top: 29.5%;
      width: 170px;
      height: 170px;
    }

    @media (max-width: 1440px) {
      top: 27%;
      width: 160px;
      height: 160px;
    }
  
    @media (max-width: 1024px) {
      top: 20%;
      width: 150px;
      height: 150px;
    }

    @media (max-width: 768px) {
      top: 14%; 
      font-weight: 500 !important;
      width: 90px;
      height: 90px;
      font-size: 0.5rem;
    }
    
  
    @media (max-width: 426px) {
      top: 9.5%; 
      font-weight: 500 !important;
      width: 90px;
      height: 90px;
      font-size: 0.5rem;
    }

    @media (max-width: 375px) {
      top: 7.5%; 
      font-weight: 400 !important;
      width: 70px;
      height: 70px;
      font-size: 0.5rem;
    }
  }

  .info-section {
    position: absolute;
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint-xl) {
      padding: 20px 15%;
    }

    @media (max-width: $breakpoint-lg) {
      padding: 20px 15%;
    }

    @media (max-width: $breakpoint-md) {
      padding: 20px 15%;
    }

    @media (max-width: $breakpoint-sm) {
      padding-top: 110px !important;
      padding: 50px 18%;
    }

    @media (max-width: $breakpoint-xs) {
      padding-top: 70px !important;
      padding: 50px 18%;
    }

    .content-wrapper {
      max-width: 50%;

      @media (max-width: $breakpoint-sm) {
        max-width: 100% !important;
      }

      @media (max-width: $breakpoint-xs) {
        max-width: 100% !important;
      }
    }

    .info-image {
      width: 25%;
      height: auto;

      @media (max-width: $breakpoint-md) {
        width: 30%;
      }


      @media (max-width: $breakpoint-md) {
        width: 40%;
      }

      @media (max-width: $breakpoint-sm) {
        display: none;
      }

      @media (max-width: $breakpoint-xs) {
        display: none;
      }
    }

    @media (max-width: $breakpoint-xs) {
      padding: 50px 18%;
    }
  }

  .triptych-container {
    justify-content: center !important;

    .triptych-content {
        position: relative;
        background-color: map-get($theme-colors, "grey-light");
        width: 100%;
        height: auto;
        object-fit: cover;
        display: flex;
        justify-content: center; 
        width: 100%;
        z-index: 1;

        .background-triptych {
            background-color: map-get($theme-colors, "white");
            margin-left: 25px;
            margin-right: 25px;
            z-index: 2;

            @media (max-width: $breakpoint-sm) {
              padding-bottom: 20px;
            }

            @media (max-width: $breakpoint-xs) {
              padding-bottom: 2px;
            }
            
                .card {
                    position: relative;
                    margin-top: 20px;

                    @media (max-width: $breakpoint-xs) {
                      margin: 20px;
                    }

                .btn-see-more {
                    background-color: map-get($theme-colors, "green");
                    color: map-get($theme-colors, "white");
                    font-size: map-get($font-size, "20") !important;
                }
            
                img {
                    width: 100%;
                    height: 450px;
                    object-fit: cover;
                }
            
                .card-body {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    background-color: rgba(83, 83, 83, 0.5);
                    color: white;
                    padding: 15px;
                    box-sizing: border-box;
                    cursor: pointer;
                }

                .card-text-container {
                  width: 80%;
                  background-color: #d3d3d370; 
                  text-align: center;
                  padding: 10px 0; 
                  box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
                  border-top: solid 1px #bbb;

                  @media (max-width: $breakpoint-md) {
                    height: 90px;
                  }

                  .card-title {
                    margin: 0;
                    font-size: 18px;
                    font-weight: bold;
                    color: white !important;
                  }
                }
            }
        }
        
    }
  }

  .informations-section {
    width: 100%;

    @media (max-width: $breakpoint-sm) {
      justify-content: center;
      align-items: baseline;
      padding-left: 25px;
    }

    @media (max-width: $breakpoint-xs) {
      align-items: baseline;
    }
  }
  
  
  .card-title {
    color: map-get($theme-colors, "green");
  }
  
  @media (max-width: $breakpoint-md) {
    .intro-section .reflexologist-info,
    .intro-section .slogan {
      font-size: map-get($font-size, "40"); 
    }
  
    @media (max-width: $breakpoint-sm) {
      .intro-section .reflexologist-info,
      .intro-section .slogan {
        font-size: map-get($font-size, "30"); 
      }
    }
  }
}
