<div id="footer" class="footer-item mt-10">
  <div class="bg-green text-white py-4">
    <div class="footer-content-container d-flex justify-content-center align-items-start">
      <div class="logo-container pt-5">
          <img src="assets/img/logo-limago-reflexo-blanc.png" alt="Logo Laiterie Burdigala" class="logo-footer">
      </div>
      <div class="footer-sections d-flex justify-content-between mt-9">
          <div class="footer-section">
              <h5 class="footer-title mb-4">Où me trouver</h5>
              <p class="footer-content text-fs-30">A mon domicile<br>à Castillonnès<br>Lot-et-Garonne</p>
          </div>
          <div class="footer-section">
              <h5 class="footer-title mb-4">Pour me contacter</h5>
              <p class="footer-content text-fs-30">06.81.00.20.05<br>limago.reflexo&#64;gmail.com</p>
          </div>
          <div class="footer-section">
              <h5 class="footer-title mb-4">Me suivre</h5>
              <div class="social-icons">
                  <a href="https://www.instagram.com/laiterieburdigala/" target="_blank" rel="noopener noreferrer">
                      <img src="assets/img/instagram-blanc.png" alt="Instagram Laiterie Burdigala" class="social-icon mx-3">
                  </a>
                  <a href="https://www.facebook.com/p/Laiterie-Burdigala-100057113183728/?locale=fr_FR" target="_blank" rel="noopener noreferrer">
                      <img src="assets/img/facebook-blanc.png" alt="Facebook Laiterie Burdigala" class="social-icon mx-3">
                  </a>
              </div>
          </div>
      </div>
    </div>
    <div class="legal-section border-top my-md-2 my-2">
      <div class="legal-box col-12 mt-md-6 mx-7 d-flex justify-content-center">
        <a href="/politique-de-confidentialite" class="footer-link text-fs-30">Politique de confidentialité</a>
        <a href="/mentions-legales" class="footer-link text-fs-30">Mentions légales</a>
        <a href="/conditions-generales-de-vente" class="footer-link text-fs-30">CGV</a>
      </div>
    </div>
  </div>
</div>
